<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-subtitle color="primary">Key is  {{post.childKey}}</ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-card-title>{{post.childData.title}}</ion-card-title>
          </ion-col>
          <ion-col text-end >
            <ion-button color="medium" size="small"  (click)="goToEdit(post.childKey)">
              <ion-icon slot="start" name="md-create"></ion-icon>
              EDIT              
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>

    <ion-card-content>
      {{post.childData.body}}
    </ion-card-content>
  </ion-card>
</ion-content>